$primary: rgb(255, 221, 28);
$succes: rgb(67, 153, 64);
$info: rgba(67, 153, 64, 0.7);
$warning: rgba(#da5151, 0.75);
$danger: rgb(218, 81, 81);
$secondary: rgb(121,121,121);
$white: #fff;

$bg-main: rgba(255,221,28,0.2);
$background: rgba(255,221,28,0.5);
$boxhead: rgb(232, 153, 14);
